body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
th,
td,
p,
blockquote,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
hr {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  letter-spacing: 0px;
  outline: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Arial", "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

li {
  list-style: none;
}

fieldset,
img {
  border: 0;
}

table {
  border-collapse: collapse;
  border: 1px;
  margin-bottom: 10px;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

legend {
  color: #000;
}

small {
  font-size: 12px;
}

hr {
  border: none;
  height: 1px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

html,
body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Arial", "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

#__nuxt,
#__layout {
  width: 100%;
  height: 100%;
}

a {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
}
